In [0]:
CREATE TABLE customers (
  customer_id INT,
  name VARCHAR(100),
  city VARCHAR(50)
);

INSERT INTO customers VALUES
(1, 'Customer1', 'Bangalore'),
(2, 'Customer2', 'Chennai'),
(3, 'Customer3', 'Mangalore'),
(4, 'Customer4', 'Mumbai'),
(5, 'Customer5', 'Hyderabad'),
(6, 'Customer6', 'Chennai'),
(7, 'Customer7', 'Mumbai'),
(8, 'Customer8', 'Bangalore'),
(9, 'Customer9', 'Mangalore'),
(10, 'Customer10', 'Hyderabad'),
(11, 'Customer11', 'Chennai'),
(12, 'Customer12', 'Mumbai'),
(13, 'Customer13', 'Mangalore'),
(14, 'Customer14', 'Bangalore'),
(15, 'Customer15', 'Hyderabad'),
(16, 'Customer16', 'Chennai'),
(17, 'Customer17', 'Mumbai'),
(18, 'Customer18', 'Mangalore'),
(19, 'Customer19', 'Bangalore'),
(20, 'Customer20', 'Hyderabad');

num_affected_rows,num_inserted_rows
20,20

In [0]:
CREATE TABLE products (
  product_id INT,
  product_name VARCHAR(100),
  category VARCHAR(50),
  price INT
);

INSERT INTO products VALUES
(101, 'Laptop', 'Electronics', 75000),
(102, 'Headphones', 'Electronics', 2000),
(103, 'Chair', 'Furniture', 3500),
(104, 'Phone', 'Electronics', 25000),
(105, 'Table', 'Furniture', 5000),
(106, 'Fan', 'Appliances', 1800),
(107, 'Fridge', 'Appliances', 30000),
(108, 'Mouse', 'Electronics', 700),
(109, 'Keyboard', 'Electronics', 1500),
(110, 'Bottle', 'Kitchen', 300),
(111, 'Notebook', 'Stationery', 100),
(112, 'TV', 'Electronics', 40000),
(113, 'Pen', 'Stationery', 50),
(114, 'Spoon', 'Kitchen', 80),
(115, 'Air Conditioner', 'Appliances', 35000),
(116, 'Mattress', 'Furniture', 12000),
(117, 'Bag', 'Accessories', 2000),
(118, 'Watch', 'Accessories', 5000),
(119, 'Router', 'Electronics', 2200),
(120, 'Lamp', 'Furniture', 1600);

In [0]:
CREATE TABLE orders (
  order_id INT,
  customer_id INT,
  order_date DATE,
  status VARCHAR(20)
);

INSERT INTO orders VALUES
(1001, 1, '2025-06-01', 'Delivered'),
(1002, 2, '2025-06-02', 'Pending'),
(1003, 3, '2025-06-03', 'Delivered'),
(1004, 4, '2025-06-04', 'Shipped'),
(1005, 5, '2025-06-05', 'Cancelled'),
(1006, 6, '2025-06-06', 'Delivered'),
(1007, 7, '2025-06-07', 'Pending'),
(1008, 8, '2025-06-08', 'Delivered'),
(1009, 9, '2025-06-09', 'Cancelled'),
(1010, 10, '2025-06-10', 'Shipped'),
(1011, 11, '2025-06-11', 'Delivered'),
(1012, 12, '2025-06-12', 'Pending'),
(1013, 13, '2025-06-13', 'Delivered'),
(1014, 14, '2025-06-14', 'Cancelled'),
(1015, 15, '2025-06-15', 'Shipped'),
(1016, 16, '2025-06-16', 'Delivered'),
(1017, 17, '2025-06-17', 'Pending'),
(1018, 18, '2025-06-18', 'Cancelled'),
(1019, 19, '2025-06-19', 'Shipped'),
(1020, 20, '2025-06-20', 'Delivered');

num_affected_rows,num_inserted_rows
20,20

In [0]:
CREATE TABLE order_items (
  item_id INT,
  order_id INT,
  product_id INT,
  quantity INT
);

INSERT INTO order_items VALUES
(1, 1001, 101, 1),
(2, 1001, 102, 2),
(3, 1002, 103, 1),
(4, 1003, 104, 1),
(5, 1004, 105, 2),
(6, 1005, 106, 1),
(7, 1006, 107, 1),
(8, 1007, 108, 3),
(9, 1008, 109, 1),
(10, 1009, 110, 2),
(11, 1010, 111, 5),
(12, 1011, 112, 1),
(13, 1012, 113, 10),
(14, 1013, 114, 4),
(15, 1014, 115, 1),
(16, 1015, 116, 1),
(17, 1016, 117, 2),
(18, 1017, 118, 1),
(19, 1018, 119, 2),
(20, 1019, 120, 1);

num_affected_rows,num_inserted_rows
20,20

🔹 Basic SELECT & Filtering

In [0]:
--1. List all customers.
SELECT * 
from customers;

customer_id,name,city
1,Customer1,Bangalore
2,Customer2,Chennai
3,Customer3,Mangalore
4,Customer4,Mumbai
5,Customer5,Hyderabad
6,Customer6,Chennai
7,Customer7,Mumbai
8,Customer8,Bangalore
9,Customer9,Mangalore
10,Customer10,Hyderabad
11,Customer11,Chennai
12,Customer12,Mumbai
13,Customer13,Mangalore
14,Customer14,Bangalore
15,Customer15,Hyderabad
16,Customer16,Chennai
17,Customer17,Mumbai
18,Customer18,Mangalore
19,Customer19,Bangalore
20,Customer20,Hyderabad

In [0]:
--2. Show all products in the “Electronics” category.
SELECT product_name
FROM products
where category='Electronics'

product_name
Laptop
Headphones
Phone
Mouse
Keyboard
TV
Router

In [0]:
--3. Find customers from the city “Mangalore”.

SELECT *
FROM customers
where city='Mangalore';

customer_id,name,city
3,Customer3,Mangalore
9,Customer9,Mangalore
13,Customer13,Mangalore
18,Customer18,Mangalore

In [0]:
--4. Display all orders placed on or after '2025-06-10'.
SELECT *
FROM orders
WHERE order_date>='2025-06-10'

order_id,customer_id,order_date,status
1010,10,2025-06-10,Shipped
1011,11,2025-06-11,Delivered
1012,12,2025-06-12,Pending
1013,13,2025-06-13,Delivered
1014,14,2025-06-14,Cancelled
1015,15,2025-06-15,Shipped
1016,16,2025-06-16,Delivered
1017,17,2025-06-17,Pending
1018,18,2025-06-18,Cancelled
1019,19,2025-06-19,Shipped
1020,20,2025-06-20,Delivered

In [0]:
--5. Get products priced more than ₹10,000.
SELECT product_id,product_name
 FROM products
 WHERE PRICE>10000

product_id,product_name
101,Laptop
104,Phone
107,Fridge
112,TV
115,Air Conditioner
116,Mattress

🔹 WHERE + Logical Operators

In [0]:
--6. List orders where status is either “Pending” or “Cancelled”.
SELECT *
FROM orders
WHERE status IN('Pending','Cancelled')

order_id,customer_id,order_date,status
1002,2,2025-06-02,Pending
1005,5,2025-06-05,Cancelled
1007,7,2025-06-07,Pending
1009,9,2025-06-09,Cancelled
1012,12,2025-06-12,Pending
1014,14,2025-06-14,Cancelled
1017,17,2025-06-17,Pending
1018,18,2025-06-18,Cancelled

In [0]:
--7. Find products in the “Furniture” category and priced below ₹5,000.
SELECT product_id,product_name
FROM products
WHERE category='Furniture' AND price<5000

product_id,product_name
103,Chair
120,Lamp

In [0]:
--8. Get orders not marked as “Delivered”.
SELECT *
FROM orders
WHERE status NOT IN ('Delivered');

order_id,customer_id,order_date,status
1002,2,2025-06-02,Pending
1004,4,2025-06-04,Shipped
1005,5,2025-06-05,Cancelled
1007,7,2025-06-07,Pending
1009,9,2025-06-09,Cancelled
1010,10,2025-06-10,Shipped
1012,12,2025-06-12,Pending
1014,14,2025-06-14,Cancelled
1015,15,2025-06-15,Shipped
1017,17,2025-06-17,Pending
1018,18,2025-06-18,Cancelled
1019,19,2025-06-19,Shipped

In [0]:

--9. Show products with price between ₹2,000 and ₹30,000.
select product_id,product_name
from products
where price between 200 AND 30000

product_id,product_name
102,Headphones
103,Chair
104,Phone
105,Table
106,Fan
107,Fridge
108,Mouse
109,Keyboard
110,Bottle
116,Mattress
117,Bag
118,Watch
119,Router
120,Lamp

In [0]:
--10. Display customers not from “Chennai” or “Bangalore”.
SELECT name,customer_id,city
FROM customers
WHERE city NOT IN('Chennai','Bangalore')

name,customer_id,city
Customer3,3,Mangalore
Customer4,4,Mumbai
Customer5,5,Hyderabad
Customer7,7,Mumbai
Customer9,9,Mangalore
Customer10,10,Hyderabad
Customer12,12,Mumbai
Customer13,13,Mangalore
Customer15,15,Hyderabad
Customer17,17,Mumbai
Customer18,18,Mangalore
Customer20,20,Hyderabad

🔹 Pattern Matching (LIKE)

In [0]:
--11. Find product names that start with the letter ‘L’.
SELECT product_id,product_name
FROM products
where product_name LIKE 'L%'

product_id,product_name
101,Laptop
120,Lamp

In [0]:
--12. Get customers whose name ends with ‘5’.
SELECT name
FROM customers
WHERE name LIKE '%5'

name
Customer5
Customer15

In [0]:
--13. List products containing the word “Phone”.
select product_name
FROM products
WHERE LOWER(product_name) LIKE '%phone%'
--another method
--select product_name
--FROM products
--WHERE UPPER(product_name) LIKE '%PHONE%'--

product_name
Headphones
Phone

🔹 Aggregation + GROUP BY

In [0]:
--14. Count how many orders each customer has placed.
SELECT customer_id,COUNT(customer_id) AS orders_placed
FROM orders
GROUP BY customer_id
ORDER BY customer_id ASC

customer_id,orders_placed
1,1
2,1
3,1
4,1
5,1
6,1
7,1
8,1
9,1
10,1
11,1
12,1
13,1
14,1
15,1
16,1
17,1
18,1
19,1
20,1

In [0]:
--15. Find total quantity of each product sold (use order_items).
SELECT product_id,SUM(quantity) AS total_sold
 FROM order_items
 GROUP BY product_id
 ORDER BY SUM(quantity) DESC

product_id,total_sold
113,10
111,5
114,4
108,3
102,2
117,2
110,2
119,2
105,2
103,1
115,1
109,1
116,1
101,1
118,1
104,1
107,1
120,1
112,1
106,1

In [0]:
--16. Show the total amount earned from each product (price × quantity).
select p.product_name,p.product_id,SUM(p.price*o.quantity )AS total_amount
FROM products AS p JOIN order_items AS O ON p.product_id=o.product_id
GROUP BY p.product_name,p.product_id
ORDER BY total_amount DESC

product_name,product_id,total_amount
Laptop,101,75000
TV,112,40000
Air Conditioner,115,35000
Fridge,107,30000
Phone,104,25000
Mattress,116,12000
Table,105,10000
Watch,118,5000
Router,119,4400
Bag,117,4000
Headphones,102,4000
Chair,103,3500
Mouse,108,2100
Fan,106,1800
Lamp,120,1600
Keyboard,109,1500
Bottle,110,600
Pen,113,500
Notebook,111,500
Spoon,114,320

In [0]:
--17. Count number of customers in each city.
SELECT city,COUNT(*) AS NUMBER_OR_CUSTOMERS
FROM customers
GROUP BY city
ORDER BY NUMBER_OR_CUSTOMERS DESC

city,NUMBER_OR_CUSTOMERS
Mumbai,4
Chennai,4
Hyderabad,4
Bangalore,4
Mangalore,4

In [0]:
--18. Get number of orders in each status category.
SELECT status,COUNT(order_id) AS 
FROM orders
GROUP BY status

status,AS
Delivered,8
Cancelled,4
Shipped,4
Pending,4

🔹 HAVING + GROUP BY

In [0]:
--19. Show products that were ordered more than 2 times (total quantity)
SELECT p.product_name, oi.product_id, SUM(oi.quantity) AS total_quantity
FROM order_items AS oi
JOIN products AS p ON oi.product_id = p.product_id
GROUP BY p.product_name, oi.product_id
HAVING total_quantity > 2;

product_name,product_id,total_quantity
Notebook,111,5
Pen,113,10
Spoon,114,4
Mouse,108,3

In [0]:
--20. List cities having more than 3 customers.
SELECT city,COUNT(Customer_id) AS CUSTOMER_COUNT
FROM customers
GROUP BY city
HAVING CUSTOMER_COUNT>3;

city,CUSTOMER_COUNT
Bangalore,4
Chennai,4
Mumbai,4
Hyderabad,4
Mangalore,4

🔹 CASE Statements

In [0]:
--21. Create a column that shows ‘High’ if product price > ₹30,000, else ‘Low’.
select price,product_name,
CASE
  when price >30000 then 'HIGH'
  ELSE 'LOW'
END AS PRODUCT_PRICE_REVIEW
FROM products

price,product_name,PRODUCT_PRICE_REVIEW
75000,Laptop,HIGH
2000,Headphones,LOW
3500,Chair,LOW
25000,Phone,LOW
5000,Table,LOW
1800,Fan,LOW
30000,Fridge,LOW
700,Mouse,LOW
1500,Keyboard,LOW
300,Bottle,LOW
100,Notebook,LOW
40000,TV,HIGH
50,Pen,LOW
80,Spoon,LOW
35000,Air Conditioner,HIGH
12000,Mattress,LOW
2000,Bag,LOW
5000,Watch,LOW
2200,Router,LOW
1600,Lamp,LOW

In [0]:
--22. Show order status as: 'Completed' if Delivered, else 'Open'.
SELECT order_id,
CASE
  WHEN status ='Delivered' THEN 'Completed'
  ELSE 'Open'
END as order_status
FROM orders

order_id,order_status
1001,Completed
1002,Open
1003,Completed
1004,Open
1005,Open
1006,Completed
1007,Open
1008,Completed
1009,Open
1010,Open
1011,Completed
1012,Open
1013,Completed
1014,Open
1015,Open
1016,Completed
1017,Open
1018,Open
1019,Open
1020,Completed


🔹 Joins Practice (INNER JOIN style)

In [0]:
--23. Show order details with customer names.
select c.name,o.order_id,o.order_date,o.status
FROM customers AS c JOIN orders as o ON c.customer_id=o.customer_id
order by o.status

name,order_id,order_date,status
Customer9,1009,2025-06-09,Cancelled
Customer5,1005,2025-06-05,Cancelled
Customer18,1018,2025-06-18,Cancelled
Customer14,1014,2025-06-14,Cancelled
Customer1,1001,2025-06-01,Delivered
Customer16,1016,2025-06-16,Delivered
Customer13,1013,2025-06-13,Delivered
Customer8,1008,2025-06-08,Delivered
Customer11,1011,2025-06-11,Delivered
Customer20,1020,2025-06-20,Delivered
Customer3,1003,2025-06-03,Delivered
Customer6,1006,2025-06-06,Delivered
Customer12,1012,2025-06-12,Pending
Customer7,1007,2025-06-07,Pending
Customer2,1002,2025-06-02,Pending
Customer17,1017,2025-06-17,Pending
Customer4,1004,2025-06-04,Shipped
Customer10,1010,2025-06-10,Shipped
Customer15,1015,2025-06-15,Shipped
Customer19,1019,2025-06-19,Shipped

In [0]:
--24. List all product names with their quantities ordered.
SELECT p.product_id,P.product_name,o.quantity
FROM products As P JOIN order_items AS O ON P.product_id=O.product_id

product_id,product_name,quantity
101,Laptop,1
102,Headphones,2
103,Chair,1
104,Phone,1
105,Table,2
106,Fan,1
107,Fridge,1
108,Mouse,3
109,Keyboard,1
110,Bottle,2
111,Notebook,5
112,TV,1
113,Pen,10
114,Spoon,4
115,Air Conditioner,1
116,Mattress,1
117,Bag,2
118,Watch,1
119,Router,2
120,Lamp,1

In [0]:
--25. Display customer name, order date,product name for all orders.

SELECT c.name ,o.order_date, p.product_name
FROM customers AS c
JOIN orders AS o ON c.customer_id = o.customer_id
JOIN order_items AS oi ON o.order_id = oi.order_id
JOIN products AS p ON oi.product_id = p.product_id;

name,order_date,product_name
Customer1,2025-06-01,Laptop
Customer1,2025-06-01,Headphones
Customer2,2025-06-02,Chair
Customer3,2025-06-03,Phone
Customer4,2025-06-04,Table
Customer5,2025-06-05,Fan
Customer6,2025-06-06,Fridge
Customer7,2025-06-07,Mouse
Customer8,2025-06-08,Keyboard
Customer9,2025-06-09,Bottle
Customer10,2025-06-10,Notebook
Customer11,2025-06-11,TV
Customer12,2025-06-12,Pen
Customer13,2025-06-13,Spoon
Customer14,2025-06-14,Air Conditioner
Customer15,2025-06-15,Mattress
Customer16,2025-06-16,Bag
Customer17,2025-06-17,Watch
Customer18,2025-06-18,Router
Customer19,2025-06-19,Lamp